language: java
jdk:
  - openjdk8
  - openjdk9
  - openjdk10
  - openjdk11
  - openjdk12
  - openjdk13
script:
  - mvn clean install site site:stage
  - cd ./freemarker-generator-cli
  - sh ./run-examples.sh
  - cd ../freemarker-generator-maven-plugin-sample
  - mvn clean package